<% provide(:title, "O stronie") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
  <div class="center jumbotron">
    <p style="text-indent: 6em;";>
	<p align="center">
		<font size="5">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
     Ta aplikacja została stworzona po to, by zorganizowanie tak dużego przedsięwzięcia nie stało się problemem, lecz przyjemnością.
	 <br>
	 Wszystko zorganizowane przejrzyście i intuicyjnie,żeby każda potrzebna rzecz była pod ręką, bez potrzeby wielogodzinnego szukania kartek, wizytówek, numerów.
	 <br>
	 <br>
	 <br>
	 
	 </p>
	 </p>
	 </div>
  </body>
</html>
