<% provide(:title, "O stronie") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <p> .</p>
            Aplikacja stworzona na potrzeby ASI.
           
  </body>
</html>
