<% provide(:title, "Pan młody") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
      <p>.</p>
        Tutaj znajdują się informacje na temat Pana Młodego.
  </body>
</html>
