<% provide(:title, "Pan Młody") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
      <p>
        Tutaj znajdują się informacje na temat Pana Młodego.</p>
  </body>
</html>
