<% provide(:title, "Pomoc") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
	<p style="text-indent: 6em;";>
	<p align="center">
		<font size="4">
	<br>
	<br>
	<br>
     W przypadku problemów ze stroną , prosimy skontaktować się z administratorem.
	 <br>
	 <br>
	 Wszelkie uwagi prosimy przesyłać na adres:
	 <br>
		<p style="text-indent: 12em;";>
			<p align="center">
			<font size="4">
		<br>
		<br>
		<a href="mailto:krostek@sigma.ug.edu.pl">krostek@sigma.ug.edu.pl</a>
		<br>
		<br>
		<a href="mailto:abruchwalska@sigma.ug.edu.pl">abruchwalska@sigma.ug.edu.pl</a>
		<br>
		<br>
		</p>

	<br>
	<br>
	<p style="text-indent: 6em;";>
	<p align="center">
	 W przypadku braku możliwości zalogowania, proszę sprawdzić, czy udało się zarejestrować.
		</font>
	 </p>
	 </p>
  </body>
</html>
