<% provide(:title, "Pomoc") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <p>Pomoc</p>
     W przypadku problemów ze stroną , prosimy skontaktować się z administratorem.
  </body>
</html>
